*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

main {
  display: flex;
  flex-direction: column;
}

#header{
  background-color: #BEB7A4;
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
#slogan {
    display: flex;
    background-color: #66635B;
    color: #D7CEB2;
    left: 0;
    right: 0;
    justify-content: center;
}

.cardpic {
    height: 40vh;
    width: 30vh;
    object-fit: cover;
}

#recipeDisplay {
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 5%;

}

.recipe-card {
    display: flex;
    background-color: gray;
    flex-direction: column;
    justify-content: space-around;
        
}

.hidden {
  visibility: hidden;
  max-height: 0;
    /* transform: scale(0); */
    /* width: 0px;
    height: 0px; */
}

#recipeInfo{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 5%;
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

#newRecipe{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#directionsInput{
  width: 70%
}

.recipePic {
  height: 450px;
  width: 450px;
  object-fit: cover;
}

.iList {
display: flex;
flex-direction: column;
justify-content: center;
}

.directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
  margin-top: 5%;
}
